github "BookBeat/r2-shared-swift" "develop"
github "tadija/AEXML" == 4.2.2
github "swisspol/GCDWebServer" == 3.3.3
github "krzyzanowskim/CryptoSwift" == 0.15.0
github "Hearst-DD/ObjectMapper" == 3.3
github "cezheng/Fuzi" "master"
github "dexman/Minizip"
